@mixin page($bg) {
    width: 100%;
    height: 100vh;
    background: url($bg) no-repeat center center;
}

@mixin pagey($bg) {
    width: 100%;
    height: 100vh;
    background: url($bg) repeat-x center center;
}

@mixin bgp($x, $y) {
    background-position: $x $y;
}

@mixin posL($posR, $top, $left) {
    position: $posR;
    top: $top;
    left: $left;
}

@mixin posR($posR, $top, $right) {
    position: $posR;
    top: $top;
    right: $right;
}